@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
    font-family: "Emphasis";
    src: url("../fontes/Emphasis.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1D2024;
    margin: 0;
    /*para o footer ficar lá em baixo-->*/
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* MENU DE NAVEGAÇÃO */
nav {
    display: flex;
}

nav a {
    position: relative;
}

#nav-opcoes {
    width: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: end;
}

nav img {
    width: 200px;
    margin-top: 3vh;
    margin-left: 30px;
}

#nav-opcoes img {
    width: 40px;
}

/* FOOTER */
footer {
    display: flex;
    margin-top: auto;
    background-color: #D1D1D1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.conteudo-footer {
    display: flex;
}

p {
    padding-top: 5px;
    font-size: 0.8em;
    color: #162E33;
}

.contato ul {
    display: flex;
}

.contato ul li {
    list-style-type: none;
    font-size: 0.8em;
}

.contato ul li a {
    color: #162E33;
}

.navegacao {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/fundo-grunge3.jpg);
    background-size: 100%;
    position: absolute;
}

.baixo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    position: absolute;
}

.cima {
    width: 100%;
    height: 100%;
    position: relative;
}

.colocar-ao-lado {
    display: flex;
}

.opcoes {
    width: 480px;
    margin-left: 0%;
    margin-top: 10em;
    position: relative;
}

.opcoes ul {
    list-style-type: none;
    padding-left: 0;
}

.descricao-pag {
    width: 30%;
    margin-top: 7%;
    margin-left: 12%;
    text-align: center;
    position: relative;
}

.descricao-pag h1 {
    color: #FFF;
    font-family: 'Emphasis';
    letter-spacing: 2px;
    font-size: 4em;
}

.descricao-pag P {
    color: #F7F7F7;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}

.div-promocao {
    position: fixed;
    right: 0;
    bottom: 0;
}

.div-promocao img {
    width: 150px;

}

.div-promocao img:hover {
    width: 160px;
    transition: 0.4s;
    cursor: pointer;
}

.botao {
    text-align: end;
    border-radius: 0px 100px 100px 0px;
    border: none;
    padding: 10px;
    padding-right: 20px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Emphasis';
    letter-spacing: 1.5px;
    color: #FFF;
    transition: 0.2s;
}

#primeiro-botao {
    width: 460px;
    background-color: #1B4049;
}

#primeiro-botao:hover {
    width: 480px;
    cursor: pointer;
}

#segundo-botao {
    width: 420px;
    background-color: #139FB6;
}

#segundo-botao:hover {
    width: 440px;
    cursor: pointer;
}

#terceiro-botao {
    width: 380px;
    background-color: #FFFFFF;
    color: #1D2024;
}

#terceiro-botao:hover {
    width: 400px;
    cursor: pointer;
}

#quarto-botao {
    width: 340px;
    background-color: #D1D1D1;
    color: #1D2024;
}

#quarto-botao:hover {
    width: 360px;
    cursor: pointer;
}

#quinto-botao {
    width: 300px;
    background-color: #475153;
}

#quinto-botao:hover {
    width: 320px;
    cursor: pointer;
}

/* BODY */
.section {
    margin-top: 55%;
}

.secao {
    margin-top: 15%;
}

.topo-section {
    margin-left: 10%;
}

.topo-section h2 {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #139FB6;
}

.topo-section p {
    color: #F7F7F7;
    font-size: .9em;
    font-family: sans-serif;
}

.filmes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filme {
    position: relative;
    text-align: center;
}

.filme a img {
    margin: 3%;
    width: 250px;
    height: 360px;
    transition: 0.3s;
}

.filme a img:hover {
    width: 240px;
    height: 350px;

}

#botao-locacao {
    width: 130px;
    color: #606060;
    background-color: transparent;
    border: 1px solid #606060;
    padding: 6px;
    font-size: .7em;
    border-radius: 50px;
    margin-bottom: 9%;
    font-family: 'Lato';
}

#botao-locacao:hover {
    border: none;
    border: 1px solid #139FB6;
    color: #139FB6;
    cursor: pointer;
}

.voltar-topo {
    text-align: end;
    margin-right: 10%;
}

.voltar-topo a {
    color: #139FB6;
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
}