@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    font-family: Courier, monospace;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    width: auto;
    height: auto;
    background-color: #13414C;
    /*para o footer ficar lá em baixo-->*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #007271;
}

.conteudo-footer p {
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

/* .contato{
    margin-left: 6%;
} */

.contato ul {
    display: flex;
    margin-left: 38%;
    bottom: 25px;
}

.contato ul li {
    list-style-type: none;
    padding-right: 17px;
    font-size: 13px;
}

.contato ul li a {
    color: #FFF;
}

/* ===== NAVEGAÇÃO =========== */
nav {
    width: 100%;

}


nav img {
    width: 200px;
    margin-left: 30px;
    margin-top: 3vh;
}


.icone {
    width: 40px;
}

#test {
    margin-left: 60%;
}


/* ===== TOPO =========== */

.navegacao {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#matrix{
    
    background-image: url(../img/poster-matrix.jpg);
}
#cidadeperdida{
    
    background-image: url(../img/poster-cidadeperdida.webp);
}



.baixo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.cima {
    position: relative;
    width: auto;
    height: 450px;
}

#title {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

/* ============= */
.colocar-ao-lado {
    display: flex;
}

.nome {
    position: relative;
    margin-left: 10%;
    margin-top: 55px;
    
}

.email {
    position: relative;
    margin-left: 4%;
    margin-top: 55px;
}

.botao {
    width: 150px;
    color: #FFF;
    background-color: #F3036B;
    border: 2px solid transparent;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.botao:hover {
    color: #FFF;
    background-color: #AC045D;
}

/* ============= */
#informacoes{
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 13%;
    color: #FFF;
}
#atores img{
    margin-top: 8%;
    width: 150px;
    height: 150px;
    margin-left: 50px;
}
#descricao{
    background-color: #FFF;
    padding-bottom: 4%;
    margin-top: 10%;
}

#descricao h3{
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Lato', sans-serif;
}
.text{
    margin-top: 2%;
    text-align: center;
    width: 50%;
    color: #000000;

    position: relative;
    text-align: center;
    
}
#text-1{
    margin-left: 10%;
}
#text-2{
    margin-left: 60px;
    margin-right: 10%;
}

.trailer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.mais-detalhes {
    position: relative;
    margin-left: 36%;
    margin-top: 50px;
    
}

.locacao {
    position: relative;
    margin-left: 4%;
    margin-top: 50px;
    
}