@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@font-face {
    font-family: "Emphasis";
    src: url("../fontes/Emphasis.ttf");
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #1D2024;
    margin: 0;
    /*para o footer ficar lá em baixo-->*/
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

span {
    color: #139FB6;
    font-family: 'Emphasis';
    font-size: 1.2em;
    letter-spacing: 1px;
}

/* FOOTER */
footer {
    background-color: #D1D1D1;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.conteudo-footer {
    display: flex;
}

p {
    color: #1D2024;
    padding-top: 5px;
    font-size: 0.8em;
}

.contato ul {
    display: flex;
}

.contato ul li {
    list-style-type: none;
    font-size: 0.8em;
}

.contato ul li a {
    color: #1D2024;
}

/* BARRA DE DE NAVEGAÇÃO */
nav {
    display: flex;
}

nav a {
    position: relative;
}

#nav-opcoes {
    width: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: end;
}

nav img {
    width: 200px;
    margin-top: 3vh;
    margin-left: 30px;
}

#nav-opcoes img {
    width: 40px;
}

/* TOPO */
.navegacao {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#matrix {
    background-image: url(../acervo/imagens/poster-matrix.jpg);
}

#cidadeperdida {
    background-image: url(../acervo/imagens/poster-cidadeperdida.webp);
}

#mrbean {
    background-image: url(../acervo/imagens/poster-mrbean.jpg);
    background-size: 100%;
}

#eternos {
    background-image: url(../acervo/imagens/poster-eternos.jpeg);
    background-size: 100%;
}

#jumanji {
    background-image: url(../acervo/imagens/poster-jumanji.jpg);
    background-size: 100%;
}

#projetoadam {
    background-image: url(../acervo/imagens/poster-projetoadam.webp);
    background-size: 100%;
}

#asbranquelas {
    background-image: url(../acervo/imagens/poster-asbranquelasjpg);
    background-size: 100%;
}

#curtindo {
    background-image: url(../acervo/imagens/poster-curtindo.jpg);
    background-size: 100%;
}

#freeguy {
    background-image: url(../acervo/imagens/poster-freeguy.jpeg);
    background-size: 100%;
}

#amenina {
    background-image: url(../acervo/imagens/poster-amenina.webp);
    background-size: 100%;
}

#omenino {
    background-image: url(../acervo/imagens/poster-omenino.jpg);
    background-size: 100%;
}

#titanic {
    background-image: url(../acervo/imagens/poster-titanic.jpg);
    background-size: 100%;
}

#cartas {
    background-image: url(../acervo/imagens/poster-cartas.jpg);
    background-size: 100%;
}

#prideandprejudice {
    background-image: url(../acervo/imagens/poster-prideandprejudice.webp);
    background-size: 100%;
}

#umamor {
    background-image: url(../acervo/imagens/poster-umamor.jpg);
    background-size: 100%;
}

.baixo {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    display: block;
    position: absolute;
}

.cima {
    width: auto;
    height: 500px;
    position: relative;
}

#title {
    text-align: center;
    margin-top: 10%;
    font-size: 3em;
    font-family: 'Lato';
    letter-spacing: 2px;
}

/* BOTOES */
.botoes {
    display: flex;
}

.botao-trailer {
    margin-left: 10%;
    margin-top: 4%;
    position: relative;
}

.botao-locacao {
    margin-left: 4%;
    margin-top: 4%;
    position: relative;
}

.botao {
    width: 130px;
    height: 35px;
    color: #FFF;
    background-color: #139FB6;
    border: none;
    text-align: center;
    font-size: .8em;
    margin-top: 4%;
    font-weight: bold;
}

.botao:hover {
    color: #139FB6;
    background-color: #F7F7F7;
}

/* DESCRICAO */
#descricao {
    background-color: #139FB6;
    display: flex;
    justify-content: center;
}

.text {
    width: 85%;
    background-color: #FFFFFF;
    padding: 4%;
    justify-content: center;
    position: relative;
}

.text h3 {
    color: #139FB6;
    margin-left: 5%;
    font-family: 'Emphasis';
    font-size: 2em;
    letter-spacing: 2px;
}

.text-1 {
    color: black;
    width: 90%;
    margin-left: 5%;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: center;
}

/* INFORMACOES DO FILME */
.informacoes {
    color: #F7F7F7;
    margin-top: 5%;
    margin-left: 12%;
    display: flex;
    position: relative;
    font-family: sans-serif;
}

#atores {
    margin-left: 8%;
}

#atores img {
    max-width: 150px;
    max-height: 150px;
    margin: 15px;
}

#trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#trailer iframe {
    border: 3px solid #139FB6;
}

.botoes-de-baixo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.botão-detalhes {
    position: relative;
}

.locacao {
    margin-left: 4%;
    position: relative;
}