@font-face {
    font-family: "Emphasis";
    src: url("../fontes/Emphasis.ttf");
}

html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
 
body {
    background-color: #1D2024;
    margin: 0;
    /*para o footer ficar lá em baixo-->*/
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* MENU DE NAVEGAÇÃO */
nav {
    display: flex;
}

nav a {
    position: relative;
}

#nav-opcoes {
    width: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: end;
}

nav img {
    width: 200px;
    margin-top: 3vh;
    margin-left: 30px;
}

#nav-opcoes img {
    width: 40px;
}

/* FOOTER */
footer {
    display: flex;
    margin-top: auto;
    background-color: #D1D1D1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.conteudo-footer {
    display: flex;
}

p {
    padding-top: 5px;
    font-size: 0.8em;
    color: #162E33;
}

.contato ul {
    display: flex;
}

.contato ul li {
    list-style-type: none;
    font-size: 0.8em;
}

.contato ul li a {
    color: #162E33;
}

/* BODY */
.pai {
    margin-top: 5%;
    margin-bottom: 10%;
    /* colocar uma div ao lado da outra */
    display: flex;
    justify-content: center;
    align-items: center;
}

#filho1 {
    width: 300px;
    height: 600px;
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px 0px 0px 5px;
    position: relative;
    text-align: center;
}

.filho1-conteudo {
    color: #139FB6;
    padding-top: 70%;
    font-family: 'Emphasis';
    letter-spacing: 1.5px;
}

.filho1-conteudo p{
    color: #F7F7F7;
    font-size: 1em;
}

#filho2 {
    width: 600px;
    height: 600px;
    color: #13414C;
    background-color: #F7F7F7;
    border-radius: 0px 5px 5px 0px;
    font-size: .9em;
}

#filho2 #topo-b {
    color: #13414C;
    margin-top: 7%;
    margin-left: 10%;
}
#topo-b h2{
    font-family: "Emphasis";
    letter-spacing: 2.5px;
    font-size: 2em;
}
.colocar-ao-lado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda {
    position: relative;
}

.direita {
    margin-left: 5%;
    position: relative;
}

.input {
    width: 220px;
    height: 2rem;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(83, 27, 27, 0.3);
    padding-left: 1em;
    margin-bottom: 4%;
}

.input:focus {
    border: 1px solid #139FB6;
    outline: none;
}

.selecao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icone img {
    top: 0.3em;
    left: 14%;
    width: 1.3em;
    height: 1.3em;
    background-size: cover;
    z-index: 100;
    position: absolute;
}


.selecao select {
    width: 67%;
    height: 2rem;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(83, 27, 27, 0.3);
    padding-left: 1em;
    margin-left: 10%;
}

select:focus {
    border: 1px solid #139FB6;
    outline: none;
}

.elemento {
    margin-top: 4%;
    margin-left: 11%;
}

#links {
    text-align: center;
}

#links a {
    color: #F3036B;
}

#links a:hover {
    color: #AC045D;
}

#links #recover {
    margin-left: 10%;
}

textarea {
    margin-top: 8px;
    padding: 1em;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba(83, 27, 27, 0.3);
    font-family: sans-serif;
}

textarea:focus {
    border: 1px solid #139FB6;
    outline: none;
}

#fdeouro {
    margin-top: 8px;
}

#botao-login {
    width: 35%;
    height: 35px;
    color: #FFFF;
    background-color: transparent;
    border: 1px solid #139FB6;
    padding: 10px;
    font-size: 15px;
    margin-top: 3%;
    font-weight: bold;
}

#botao-login:hover {
    
    color: #FFF;
    background-color: #139FB6;
}

#botao-cadastrar {
    width: 150px;
    height: 40px;
    color: #FFF;
    background-color: #139FB6;
    border: 1px solid white;
    text-align: center;
    font-size: .9em;
    margin-top: 4%;
    font-weight: bold;
}

#botao-cadastrar:hover {
    border: none;
    box-shadow: 0 0 5px rgba(83, 27, 27, 0.3);
}

#botao-limpar {
    width: 150px;
    height: 40px;
    color: #13414C;
    background-color: transparent;
    border: 1px solid #139FB6;
    text-align: center;
    font-size: .9em;
    margin-top: 4%;
    font-weight: bold;
}

#botao-limpar:hover {
    box-shadow: 0 0 5px rgba(83, 27, 27, 0.3);
}