* {
    font-family: Courier, monospace;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #23282E;
    /*para o footer ficar lá em baixo-->*/
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #007271;
}

.pai {
    display: flex;
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
}

#container-a {
    background: rgba(255, 255, 255, 0.1);
    width: 300px;
    height: 400px;
    position: relative;
    border-radius: 5px 0px 0px 5px;
}

#container-a img {
    background: rgba(255, 255, 255, 0.001);
    width: 250px;
    /* CENTRALIZAR -->*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#container-b {
    background-color: #FFFF;
    margin-left: -10px;
    width: 400px;
    height: 400px;
    color: #13414C;
    /* CENTRALIZAR -->*/
    position: relative;
    border-radius: 0px 5px 5px 0px;
}

.formulario {
    margin-top: 2%;
    position: absolute;
    left: 0;
    right: 0;
}

#container-b #topo-b {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    color: #13414C;
}

.inputs {
    width: 45%;
    height: 25px;
    border-radius: 3px;
    margin-left: 26%;
}

#links {
    text-align: center;
}

#links a {
    color: #F3036B;
}

#links a:hover {
    color: #AC045D;
}

#links #recover {
    margin-left: 10%;
}

#botao {
    width: 30%;
    color: #FFF;
    background-color: #007271;
    border: none;
    padding: 10px;
    font-size: 15px;
    margin-top: 4%;
    margin-left: 35%;
    font-weight: bold;
}

#botao:hover {
    background-color: #13414C;
    border: none;
    color: #FFF;
}

.conteudo-footer p {
    padding-top: 15px;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

.contato ul {
    display: flex;
    margin-left: 38%;
    bottom: 25px;
}

.contato ul li {
    list-style-type: none;
    padding-right: 17px;
    font-size: 13px;
}

.contato ul li a {
    color: #FFF;
}