* {
    font-family: Courier, monospace;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #1D2024;
    margin: 0;
    /*para o footer ficar lá em baixo-->*/
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* MENU DE NAVEGAÇÃO */
nav {
    display: flex;
}

nav a {
    position: relative;
}

#nav-opcoes {
    width: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: end;
}

nav img {
    width: 200px;
    margin-top: 3vh;
    margin-left: 30px;
}

#nav-opcoes img {
    width: 40px;
}

/* FOOTER */
footer {
    display: flex;
    margin-top: auto;
    background-color: #D1D1D1;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.conteudo-footer {
    display: flex;
}

p {
    padding-top: 5px;
    font-size: 0.8em;
    color: #162E33;
}

.contato ul {
    display: flex;
}

.contato ul li {
    list-style-type: none;
    font-size: 0.8em;
}

.contato ul li a {
    color: #162E33;
}

/* BODY */
.body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#options {
    width: 900px;
    height: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#options a {
    position: relative;
    padding-left: 2.5%;
}

#options a img {
    width: 9rem;
}

#options a img:hover {
    width: 10rem;
}

h3 {
    margin-left: 18%;
    margin-top: 5%;
    color: gray;
}

.centralizar {
    text-align: center;
}

#avatar {
    width: 200px;
}

.lista ul {
    display: inline-flex;
}

/* list-style-image: url("../img/seta-direita.png"); */
.lista ul li {
    list-style-type: none;
    padding-right: 17px;
}

.sobre {
    margin-left: 10%;
}

.sobre h4 {
    color: #139FB6;

}

.sobre ul li {
    color: #F3EFF9;
}